<a class="btn btn-outline-success" href="/category/create">Create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Category Id</th>
            <th>Category Code</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody id="tbData">
    </tbody>
</table>

@* <script>
    console.log("page hello");
</script> *@

@section scripts {
    <script>
        // console.log("section script hello");

        loadData();

        function loadData(){
            $.ajax({
                url: "/Category/List",
                type: "GET",
                success: function (response) {
                    console.log({response});

                    let trRow = '';
                    for (let i = 0; i < response.length; i++) {
                        let row = `<tr>
                            <td>
                            <button data-id="${response[i].CategoryId}" type="button" class="btn btn-warning btn-edit">Edit</button>
                            <button data-id="${response[i].CategoryId}" type="button" class="btn btn-danger btn-del">Delete</button>
                            </td>
                            <td>${i + 1}</td>
                            <td>${response[i].CategoryId}</td>
                            <td>${response[i].CategoryCode}</td>
                            <td>${response[i].CategoryName}</td>
                        </tr>`;
                        trRow += row;
                    }
                    $("#tbData").html(trRow);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        $(document).on("click", ".btn-edit", function () {
            const id = $(this).data("id");
            location.href = `/Category/Edit/${id}`;
        });

        $(document).on("click", ".btn-del", function () {
            const id = $(this).data("id");
            if (confirm("Are you sure you want to delete this category?")) {
                $.ajax({
                    url: "/Category/Delete/" + id,
                    type: "DELETE",
                    success: function(res){
                        alert(res.message);
                        loadData();
                    },
                    error: function(request){
                        alert(request.responseText);
                    }
                });
            }
        });


        // function bindEdit(){
        //     $('.btn-edit').click(function(){
        //         const id = $(this).data('id');
        //         location.href = `/category/edit/${id}`;
        //     }
        // }
        //  function bindEdit(){
        //     $('.btn-delete').click(function(){
        //         const id = $(this).data('id');
        //         location.href = `/category/edit/${id}`;
        //     }
        // }

    </script>
}

@section header {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Test</a>
    </li>
}