@using SLHDotNetTrainingBatch2.Mvc.Controllers
@model CategoryViewModel
@{
    ViewData["Title"] = "Edit Category";
}
<h1>Edit Category</h1>

    <div class="mb-3">
        <label for="txtAuthor" class="form-label">CategoryCode</label>
        <input type="text" class="form-control" id="txtCategoryCode" name="CategoryCode" value="@Model.CategoryCode">
    </div>
    <div class="mb-3">
        <label for="txtContent" class="form-label">CategoryName</label>
        <input type="text" class="form-control" id="txtCategoryName" name="CategoryName" value="@Model.CategoryName">
    </div>
    <button class="btn btn-dark" type="button" id="btnCancel">Cancel</button>
    <button class="btn btn-success" type="submit" id="btnSave">Save</button>

@section scripts {
    <script>
        $('#btnSave').click(function(){
            const code = $('#txtCategoryCode').val();
            const name = $('#txtCategoryName').val();
            let _requestModel = {
                CategoryId: "@Model.CategoryId",
                CategoryCode: code,
                CategoryName: name
            };
            $.ajax({
                url: "/Category/Update",
                type: "POST",
                data: { requestModel : _requestModel },
                success: function (response) {
                    console.log({response});
                    if(!response.IsSuccess){
                        alert(response.Message);
                        return;
                    }
                    alert(response.Message);
                    location.href = "/category";
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        })
    </script>
}