@model BlogEditRequestModel
@{
    ViewData["Title"] = "Edit Blog";
}

<form action="/blog/update/@(Model.BlogId)" method="post">
    <div class="mb-3">
        <label for="txtTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="txtTitle" name="Title" value="@Model.Title">
    </div>
    <div class="mb-3">
        <label for="txtAuthor" class="form-label">Author</label>
        <input type="text" class="form-control" id="txtAuthor" name="Author" value="@Model.Author">
    </div>
    <div class="mb-3">
        <label for="txtContent" class="form-label">Content</label>
        <input type="text" class="form-control" id="txtContent" name="Content" value="@Model.Content">
    </div>
    <button class="btn btn-dark" type="button" id="btnCancel">Cancel</button>
    <button class="btn btn-success" type="submit" id="btnSave">Save</button>
</form>